# Python
__pycache__/
*.pyc

# GNU Radio
*.py~
*.log

# Build artifacts
build/
*.o
*.so
gen_am_iq
read_iq
am_iq_to_wav

# Data / recordings
*.iq
*.wav

# OS junk
.DS_Store


# IQ captures
data/iq/
*.raw
