[Unit]
Description=SDR FM Radio Encoder Daemon
After=sound.target
Wants=sound.target

[Service]
Type=simple
WorkingDirectory=/home/sdr/sdr-fm-receiver/src
ExecStart=/home/sdr/sdr-fm-receiver/src/radio_encoder --start-freq 95700000 --step-hz 100000 --gpio-a 17 --gpio-b 27 --gpio-vol-a 23 --gpio-vol-b 24 --gain-encoder-enable --gpio-gain-a 5 --gpio-gain-b 6 --volume-start 80 --volume-step 4 --volume-max 400 --lcd-enable --lcd-bus 1 --lcd-addr 0x27 --alsa-device default --rtl-index 0 --sdr-rate 240k --audio-rate 96000 --atan-mode std
Restart=always
RestartSec=1
User=root
Group=root

[Install]
WantedBy=multi-user.target
